{% extends 'base_centered_card.html.twig' %}

{% block title %}
    Create Account
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="btn btn-primary" type="submit" role="button">Register!</button>
    {{ form_end(form) }}
{% endblock %}
