{% extends 'profile/base.html.twig' %}

{% block profile_content %}
    <div class="title">Profile Overview</div>
    <div class="content">
        <p>
            Your username is <em>{{ app.user.username }}</em><br/>
            Your email address is <em>{{ app.user.email }}</em><br/>
            You currently have the following roles: <em>{{ app.user.roles|join(', ') }}</em><br/>
        </p>
        <div class="card mb-3">
            <div class="card-header">
                Your Adventures
            </div>
            <div class="list-group list-group-flush list-group-paginated">
                {% for adventure in adventures %}
                    <a href="{{ path('adventure_show', {slug: adventure.slug}) }}"
                       class="list-group-item list-group-item-action{% if adventure.changeRequests|length > 0 %} list-group-item-warning{% endif %}">
                        {{ adventure.title }}
                        {% if adventure.changeRequests|length > 0 %}
                            &nbsp;<span class="badge badge-default">{{ adventure.changeRequests|length }} pending change request(s)</span>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ path('adventure_new') }}" class="list-group-item list-group-item-action">
                        You haven't created any adventures yet. Click here to add your first adventure.
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Your Change Requests
            </div>
            <div class="list-group list-group-flush list-group-paginated">
                {% for changeRequest in changeRequests %}
                    <a href="{{ path('adventure_show', {slug: changeRequest.adventure.slug}) }}"
                       class="list-group-item list-group-item-action {% if changeRequest.resolved %}list-group-item-success{% endif %}"
                       id="change-request-{{ changeRequest.id }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">
                                {% if changeRequest.fieldName %}
                                    Request to change "{{ changeRequest.fieldName }}"
                                {% else %}
                                    General change request
                                {% endif %}
                                {% if changeRequest.resolved %}
                                    <small>RESOLVED</small>
                                {% endif %}
                            </h6>
                            <small>{{ changeRequest.createdAt|time_diff }}</small>
                        </div>
                        <p class="mb-1">{{ changeRequest.comment|nl2br }}</p>
                        {% if changeRequest.curatorRemarks is not empty %}
                            <p class="mb-1"><em>Curator remarks: {{ changeRequest.curatorRemarks }}</em></p>
                        {% endif %}
                    </a>
                {% else %}
                    <button disabled class="list-group-item">You don't have any pending change requests</button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

