{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if is_granted('ROLE_CURATOR') %}
                    <a class="float-right mt-5 btn btn-outline-primary" href="{{ path('tags_new') }}">create a new tag</a>
                {% endif %}
                <h1 class="my-5">Tags</h1>
                <div class="alert alert-info">
                    Tags are little pieces of information of each individual adventure. Creating a new tag will allow every adventure to supply information for this tag.
                </div>

                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Approved</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Example</th>
                            <th>Show in search results</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tagName in tagNames %}
                            <tr {% if not tagName.approved %}class="table-warning"{% endif %}>
                                <td>{{ tagName.title }}</td>
                                <td>{% if tagName.approved %}Yes{% else %}No{% endif %}</td>
                                <td>{{ tagName.type }}</td>
                                <td>{{ tagName.description }}</td>
                                <td>{{ tagName.example }}</td>
                                <td>{% if tagName.showInSearchResults %}Yes{% else %}No{% endif %}</td>
                                <td class="text-right">
                                    {% if is_granted('ROLE_CURATOR') %}
                                        <a class="btn btn-sm btn-secondary" href="{{ path('tags_edit', { 'id': tagName.id }) }}">edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
