<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ leogout_seo() }}
        <link rel="search" type="application/opensearchdescription+xml" href="{{ path('adventure_opensearch') }}" title="AdventureLookup"/>
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('vendor') }}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#f9e144">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id="adl-announcement">
            {% if announcement|default is not empty %}
                <div class="announcement-bar">
                    {{announcement}}
                </div>
            {% endif %}
            <div class="header-container">
                {% block header %}
                    {% include 'header.html.twig' %}
                {% endblock %}
            </div>
        </div>

        {% if app.session.flashbag.peekAll is not empty %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        {% for label, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

        {{ encore_entry_script_tags('vendor') }}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'prod' and google_analytics_code is not empty %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_code }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ google_analytics_code }}');
            </script>
        {% endif %}
    </body>
</html>
