{% extends 'base_with_collapsed_sidebar.html.twig' %}

{% block content %}
  <div class="adl-card">
    <div class="adl-card-body">
      <h1>Statistics</h1>
      <p>This page provides some statistics for AdventureLookup. Be aware that the y- and x-axis changes per diagram.</p>
      <h2>Adventures</h2>
      <canvas
        class="mb-4"
        data-chart
        data-chart-data="{{ adventures | json_encode | e('html_attr') }}"
        data-chart-label="Total number of adventures"></canvas>

      <h2>Change Requests</h2>
      <canvas
        class="mb-4"
        data-chart
        data-chart-data="{{ changeRequests | json_encode | e('html_attr') }}"
        data-chart-label="Total number of change requests"></canvas>

      <h2>Reviews</h2>
      <canvas
        class="mb-4"
        data-chart
        data-chart-data="{{ reviews | json_encode | e('html_attr') }}"
        data-chart-label="Total number of reviews"></canvas>

      <h2>Users</h2>
      <p>
        AdventureLookup currently has <strong>{{ userCount }}</strong> registered users.
      </p>

      <h2>Bookmarked Adventures</h2>
      <p>
        Users have created a total of <strong>{{ adventureListCount }}</strong> adventure bookmark lists that each contain about <strong>{{ medianAdventuresPerList }}</strong> adventures.
      </p>
    </div>
  </div>
{% endblock %}
