{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Edit "{{ tagContent.tag.title}}" for "{{ tagContent.adventure.title }}"</h1>


                {{ form_start(edit_form) }}
                {{ form_row(edit_form.tag) }}
                {{ form_row(edit_form.content) }}
                {{ form_row(edit_form.approved) }}
                {{ form_widget(edit_form.save) }}
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                    <input class="btn btn-danger btn-sm mt-5" role="button" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
