{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="page--add-content" data-content-search-url="{{ path('field_content_search', {id: '__ID__', q: '__Q__'}) }}">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Add info to "{{ tagContent.adventure.title }}"</h1>

                {{ form_start(form) }}
                {{ form_row(form.tag) }}
                {{ form_row(form.content) }}
                {{ form_widget(form.saveAndAdd) }}
                {{ form_widget(form.save) }}
                <a href="{{ path('adventure_show', {slug: tagContent.adventure.slug}) }}" class="btn btn-secondary" role="button">Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}