{% extends 'base_with_sidebar.html.twig' %}

{% block sidebar_content %}
    <div
        id="sidebar-react-root"
        data-fields="{{ fields.toArray | json_encode | e("html_attr") }}"
        data-url="{{ url('adventure_index') | e("html_attr") }}"
        data-initial-filter-values="{{ searchFilter | json_encode | e("html_attr")}}"
        data-initial-query="{{ q | e("html_attr") }}"
        data-initial-sort-by="{{ sortBy | e("html_attr") }}"
        data-initial-seed="{{ seed | e("html_attr") }}"
        data-field-stats="{{ stats | json_encode | e("html_attr") }}"
    ></div>
{% endblock %}

{% block below_sidebar_content %}
    <a class="btn btn-block btn-primary adl-sidebar-standalone-btn" href="{{ path('adventure_new') }}">
        <i class="fa fa-plus-circle"></i>
        Add a new adventure
    </a>
    <a class="btn btn-block btn-secondary adl-sidebar-standalone-btn" href="{{ path('adventure_random') }}">
        <i class="fa fa-random"></i>
        Random Adventure
    </a>
{% endblock %}

{% block content %}
    {% include 'adventures/search_results_header.html.twig' %}
    {% include 'adventures/search_results.html.twig' %}
{% endblock %}