<div id="search-results">
    {% for adventure in adventures %}
        <a href="{{ path('adventure_show', { 'slug': adventure.slug }) }}">
            <div class="adventure">
                {% if adventure.thumbnailUrl %}
                    <img alt="Cover of {{ adventure.title }}" data-src="{{ adventure.thumbnailUrl }}" class="thumbnail d-none d-sm-block" />
                {% endif %}
                <div class="title">{{ adventure.title }}</div>
                <div class="tags-container">
                    <div class="tag tag-edition">{{ adventure.edition }}</div>
                    {% set level = format_level(adventure) %}
                    {% if level %}
                        <div class="tag tag-level">{{ level }}</div>
                    {% endif %}
                    <div class="tag tag-length">{{ adventure.numPages }} pages</div>
                    <div class="tag" title="Reviews">
                        <i class="fa fa-thumbs-up"></i> {{ adventure.numPositiveReviews }}&nbsp;
                        <i class="fa fa-thumbs-down"></i> {{ adventure.numNegativeReviews }}
                    </div>
                </div>
                <p class="description">{{ adventure.description }}</p>
            </div>
        </a>
    {% endfor %}
    {% if totalNumberOfResults == 0 %}
        <div class="no-results">No adventures match your search criteria</div>
    {% elseif not hasMoreResults %}
        <div class="no-more-results">No more results match your search criteria</div>
    {% endif %}
</div>

{% if hasMoreResults %}
    <div class="d-flex justify-content-center">
        <button type="submit" role="button" class="btn btn-secondary" id="load-more-btn">
            <i class="fa fa-spinner fa-spin d-none"></i>
            Load more results
        </button>
    </div>
{% endif %}