<div id="search-title">
    <div>
        A community for lazy dungeon masters
    </div>
    <div>
        {{ totalNumberOfResults }} {{ totalNumberOfResults == 1 ? 'adventure' : 'adventures' }} found
    </div>
</div>
<div id="search-bar">
    <input type="text" class="elastic-search" name="q" value="{{ q }}" placeholder="SEARCH FOR"/>

    <a class="btn btn-secondary" role="button" href="{{ path('adventure_index', {q: q}) }}">
        <i class="fa fa-times"></i>
        Clear all Filters
    </a>
    <input type="button" id="search-submit" class="btn btn-primary" value="SEARCH" />
</div>
<div id="search-results">
    {% for adventure in adventures %}
        <a href="{{ path('adventure_show', { 'slug': adventure.slug }) }}">
            <div class="adventure">
                {% if adventure.thumbnailUrl %}
                    <img alt="Cover of {{ adventure.title }}" data-original="{{ adventure.thumbnailUrl }}" class="thumbnail" />
                {% endif %}
                <div class="title">{{ adventure.title }}</div>
                <div class="tags-container">
                    <div class="tag tag-edition">{{ adventure.edition }}</div>
                    <div class="tag tag-level">
                        {% if adventure.minStartingLevel is not null and adventure.maxStartingLevel is not null %}
                            {% if adventure.minStartingLevel == adventure.maxStartingLevel %}
                                Level {{ adventure.minStartingLevel }}
                            {% else %}
                                Levels {{adventure.minStartingLevel}}-{{adventure.maxStartingLevel}}
                            {% endif %}
                        {% else %}
                            {{ adventure.startingLevelRange }} Level
                        {% endif %}
                    </div>
                    <div class="tag tag-length">{{ adventure.numPages }} pages</div>
                </div>
                <p class="description">{{ adventure.description }}</p>
            </div>
        </a>
    {% else %}
        {% if totalNumberOfResults == 0 %}
        <div class="alert alert-danger">We're sorry. Apparently there is no adventure matching your search. :(</div>
        {% elseif adventures|length == 0 %}
        <div class="alert alert-info">No more results match your search criteria.</div>
        {% endif %}
    {% endfor %}
</div>

<div class="d-flex justify-content-center">
    <button type="submit" role="button" class="btn btn-secondary" id="load-more-btn" {% if adventures|length == 0 %}disabled{% endif %}>
        <i class="fa fa-spinner fa-spin d-none"></i>
        Load more results
    </button>
</div>
