{% if app.user %}
    <div id="create-review-container" class="adl-card d-none" data-has-reviewed="{{ adventure.reviewBy(app.user) ? '1' : '0' }}">
        <div class="row" id="review-thumbs-row">
            <div class="col-auto d-flex align-items-center" id="review-thumbs-up">
                <i class="fa fa-fw fa-thumbs-up fa-flip-horizontal"></i>
            </div>
            <div class="col" id="review-thumbs-message"></div>
            <div class="col-auto d-flex align-items-center" id="review-thumbs-down">
                <i class="fa fa-fw fa-thumbs-down"></i>
            </div>
        </div>
        <div class="alert alert-info">
            Reviews support some Markdown formatting like <span class="text-monospace">**bold**</span>,
            <span class="text-monospace">*italics*</span>,
            numbered and dashed lists (<span class="text-monospace">- list item</span> or <span class="text-monospace">1. list item</span>),
            and <span class="text-monospace"># Headings</span>.
        </div>

        {{ form_start(review_form, {'attr': {'id': 'review_form'}}) }}
        {{ form_widget(review_form.rating) }}
        {{ form_widget(review_form.comment) }}
        {{ form_end(review_form) }}

        <div class="adl-card-body d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-primary" role="button" id="confirm-review-btn">
                <i class="fa fa-check"></i>
                Save Review
            </a>
            <a href="javascript:void(0)" class="btn btn-secondary" role="button" id="cancel-review-btn">
                <i class="fa fa-times"></i>
                Cancel
            </a>
        </div>
    </div>
{% endif %}

<div class="adl-card" id="reviews">
    <div class="adl-card-body pb-0">
        <div class="row">
            <div class="col">
                <h2 class="adl-card-title">Reviews</h2>
            </div>
            <div class="col-auto">
                <div class="adl-card-title">
                    <i class="fa fa-fw fa-thumbs-o-up"></i> {{ adventure.numberOfThumbsUp }}
                    <i class="fa fa-fw fa-thumbs-o-down"></i> {{ adventure.numberOfThumbsDown }}
                </div>
            </div>
        </div>
        {% if not app.user %}
            <div class="alert alert-info">Please sign in to rate or leave a review.</div>
        {% elseif adventure.reviewBy(app.user) %}
            <div class="alert alert-success">You've already rated/reviewed this adventure.</div>
        {% endif %}
    </div>
    {% for review in adventure.reviews|filter(review => review.comment is not empty) %}
        <div class="review adl-card-body">
            <div class="row align-items-center">
                <div class="col col-auto d-flex d-sm-none review-icon-mobile-column">
                    <i class="fa fa-3x review-icon {{ review.thumbsDown ? 'fa-thumbs-o-down review-icon--negative' : 'fa-thumbs-o-up review-icon--positive' }}"></i>
                </div>
                <div class="col d-flex">
                    <p>
                        <strong>{{ review.createdBy }}</strong> has played this adventure and would {{ review.thumbsDown ? 'not' : '' }} recommend it.
                    </p>
                </div>
            </div>
            <blockquote>
                <div class="row">
                    <div class="col col-auto d-none d-sm-flex">
                        <i class="fa fa-3x review-icon {{ review.thumbsDown ? 'fa-thumbs-o-down review-icon--negative' : 'fa-thumbs-o-up review-icon--positive' }}"></i>
                    </div>
                    <div class="col">
                        <div class="markdown">
                            {{ review.comment|user_provided_markdown_to_safe_html }}
                        </div>
                    </div>
                </div>
            </blockquote>
            {% if is_granted('delete', review) %}
                <small class="text-right d-block">
                    {{ form_start(review_delete_form, {'action': path('review_delete', {id: review.id})}) }}
                    {{ form_widget(review_delete_form) }}
                    <button type="submit" class="text-danger btn btn-link"
                            role="button"
                            onclick="return confirm('Do you really want to delete this review?')">
                        <i class="fa fa-trash"></i> Delete Review
                    </button>
                    {{ form_end(review_delete_form) }}
                </small>
            {% endif %}
        </div>
    {% else %}
        <div class="adl-card-body">
            <p class="adl-card-text">This adventure has not been reviewed yet.</p>
        </div>
    {% endfor %}
</div>
