{% extends 'base_with_collapsed_sidebar.html.twig' %}

{% block body %}
    {{ parent() }}
    {% include 'adventure/_new_content_modal.html.twig' %}
{% endblock %}

{% block content %}
    <div class="adl-card" id="page--edit-adventure"
        data-similar-titles-url="{{ path('similar_titles_search', {ignoreId: adventure.id}) }}"
        data-search-url="{{ path('api_autocomplete_field', {fieldName: '__FIELD__'}) }}">
        <div class="adl-card-body">
            <h1 class="adl-card-title">Edit adventure</h1>
            {{ form_start(form) }}

            {% include 'adventure/_form.html.twig' %}

            <input type="submit" value="Save Changes" class="btn btn-primary" role="button" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
