{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="page--search-adventures" data-search-url="{{ path('field_content_search', {id: '__ID__', q: '__Q__'}) }}">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Adventure search</h1>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="mb-3 float-right btn btn-outline-success" href="{{ path('adventure_new') }}">Add a new adventure</a>
                {% endif %}
                <p>Find adventures fitting your search term!</p>
                <div class="clearfix"></div>
                <form method="get" action="{{ url('adventure_index') }}#search-results" class="bg-faded p-3 mb-3">
                    <fieldset>
                        <legend>Search everything</legend>
                        <div class="input-group input-group-lg">
                            <input class="form-control" name="q" type="text" value="{{ app.request.query.get('q', '') }}" placeholder="goblins, mountains, ..." />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </span>
                        </div>
                        <small class="form-text text-muted">Things you type in here will be split at <code>,</code> and then ORed. Use the advanced search if you want to AND your terms</small>
                    </fieldset>
                </form>

                <form method="post" action="{{ url('adventure_index')}}#search-results" class="bg-faded p-3">
                    <fieldset>
                        <legend>Advanced search <button type="button" id="toggle-adv-search" class="btn btn-sm btn-secondary" role="button">toggle</button></legend>
                        <div id="advanced-search" {% if not filter %}class="d-none"{% endif %}>
                            {% for tagName in tagNames %}
                                <div class="form-group row">
                                    <label class="col-2 col-form-label-sm col-form-label" for="filter_{{ tagName.id }}">{{ tagName.title }}</label>
                                    <div class="col-2">
                                        <select name="f[{{ tagName.id }}][o]" class="form-control-sm form-control">
                                            {% for op in fieldUtils.allowedSearchOperations(tagName.type) %}
                                                <option {% if filter[tagName.id]|default(false) and filter[tagName.id]['o'] == op.id %}selected{% endif %} value="{{ op.id }}">
                                                    {{ op.desc }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-8">
                                        <input id="filter_{{ tagName.id }}" name="f[{{ tagName.id }}][c]"
                                               class="form-control-sm form-control adv-search-input"
                                               value="{{ filter[tagName.id]['c']|default('') }}"
                                               data-id="{{ tagName.id }}"
                                        >
                                        <small class="form-text text-muted">
                                            {{ tagName.description }}. Example: <code>{{ mostCommonValues['info_' ~ tagName.id]|default([tagName.example])|join(', ') }}</code>
                                        </small>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-lg btn-primary" role="button">Search</button>
                        </div>
                    </fieldset>
                </form>

                <h2 class="my-5" id="search-results">{{ adventures|length }} Results</h2>

                {% for adventure in adventures %}
                    <div class="card mb-3">
                        <div class="card-block">
                            <h4 class="card-title">
                                <a href="{{ path('adventure_show', { 'slug': adventure.slug }) }}">
                                    {{ adventure.title }}
                                </a>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">Search score: {{ adventure.score }}</h6>
                            <ul class="adventure-info-list">
                                {% for info in adventure.info if info.meta.showInSearchResults %}
                                    <li><strong>{{ info.meta.title }}</strong>: {{ info.contents|join(',') }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger">We're sorry. Apparently there is no adventure matching your search :(</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}