{% extends 'base.html.twig' %}
{% block title %}{{ adventure.title }} - Adventure Lookup{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# ADL sidebar #}
            <div class="col-3 mt-5 col-sm-2 col-lg-1">
                <div class="adl-sidebar">
                    <div class="content">
                        <a class="no-underline" href="{{ path('adventure_index') }}">
                            <div class="sidebar-title-big">A</div>
                        </a>

                        <a class="no-underline" href="{{ path('adventure_index') }}">
                            <div class="sidebar-title-big-secondary"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            {# Content #}
            <div class="col-12 order-last col-lg-9 order-lg-2">
                {% include 'adventure/_details.html.twig' %}
            </div>
            {# Buttons #}
            <div class="col-9 mt-5 col-sm-10 col-lg-2 order-lg-3 mt-lg-5">
                <div class="adl-sidebar mt-0">
                    {% if app.user %}
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-12">
                                <div class="dropdown" id="adventure_list-bookmark-menu">
                                    <a href="#" class="btn btn-secondary dropdown-toggle" id="adventure_list-bookmark-menu-btn" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bookmark"></i> Bookmark
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="adventure_list-bookmark-menu-btn">
                                        <h6 class="dropdown-header">Your Lists</h6>
                                        {% for list in lists %}
                                            <button class="dropdown-item" type="button"
                                                    data-adventure-list-id="{{ list.id }}"
                                                    data-toggle-url="{{ path('adventure_lists_toggle_contains_adventure', {
                                                        list_id: list.id, adventure_id: adventure.id
                                                    }) }}">
                                                {% if list.containsAdventure(adventure) %}
                                                    <i class="fa fa-fw fa-check"></i>
                                                {% else %}
                                                    <i class="fa fa-fw"></i>
                                                {% endif %}
                                                {{ list.name }}
                                            </button>
                                        {% else %}
                                            <button class="dropdown-item disabled" type="button">Please create a list first, using the link below</button>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('adventure_lists_index') }}">
                                            <i class="fa fa-fw fa-cog"></i>
                                            Manage lists
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-12">
                                {% if is_granted('edit', adventure) %}
                                    <a href="{{ path('adventure_edit', { 'id': adventure.id }) }}"
                                       class="btn btn-secondary" role="button">
                                        <i class="fa fa-edit"></i>
                                        Edit adventure
                                    </a>
                                {% elseif app.user %}
                                    <a class="btn btn-secondary" role="button" href="{{ path('changerequest_new', {adventure_id: adventure.id}) }}">
                                        <i class="fa fa-edit"></i>
                                        Suggest Edits
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-12">
                                <a href="https://github.com/adventurelookup/adventurelookup/issues"
                                   target="_blank" class="btn btn-secondary" role="button">
                                    <i class="fa fa-flag"></i>
                                    Report Bug
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-12">
                                <a href="{{ path('adventure_random') }}"
                                   class="btn btn-outline-secondary" role="button">
                                    <i class="fa fa-random"></i>
                                    Random Adventure
                                </a>
                            </div>
                            {% if is_granted('delete', adventure) %}
                                <div class="col-sm-6 col-md-4 col-lg-12">
                                    {{ form_start(delete_form) }}
                                    <button type="submit" class="btn btn-sm btn-outline-danger"
                                            onclick="return confirm('Do you really want to delete this adventure?')">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                    {{ form_end(delete_form) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-lg-1">
                <h2 class="subheading mt-5">From the community</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 order-last col-md-9 order-md-1 offset-lg-1">
                {% include 'adventure/_reviews.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-3 order-md-2 col-lg-2 mb-5 mb-md-0">
                <div class="adl-sidebar mt-0">
                    {% if app.user %}
                        <a href="javascript:void(0)" class="btn btn-secondary" role="button" id="add-review-btn">
                            <i class="fa fa-star"></i>
                            {{ adventure.reviewBy(app.user) ? 'Edit' : 'Add' }} Your Review
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary d-none" role="button" id="confirm-review-btn">
                            <i class="fa fa-check"></i>
                            Save Review
                        </a>
                        <a href="javascript:void(0)" class="btn btn-secondary d-none" role="button" id="cancel-review-btn">
                            <i class="fa fa-times"></i>
                            Cancel
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
