{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="page--create-adventure" data-similar-titles-url="{{ path('similar_titles_search') }}" data-search-url="{{ path('api_autocomplete_field', {fieldName: '__FIELD__'}) }}">
        <div class="row">
            <div class="col">
                <div id="adl-sidebar">
                    <div class="content">
                        <a class="no-underline" href="{{ path('adventure_index') }}">
                            <div class="sidebar-title">Adventure Lookup</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="adventure-details" class="col-9">
                <div class="title">New adventure</div>
                <div class="alert alert-warning">AdventureLookup is for D&D and its clones. Not other systems/genres.</div>

                {{ form_start(form) }}

                {% include 'adventure/_form.html.twig' %}

                <input type="submit" value="Save" class="btn btn-primary" role="button" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'adventure/_new_content_modal.html.twig' %}
{% endblock %}
