{% macro filter_checkbox(field, value, checked, count, hidden) %}
    <div class="form-check{% if hidden %} d-none{% endif %}">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="f[{{ field.name }}][v][]"
                   value="{{ value }}"
                   {% if checked %}checked{% endif %}
            />
            {{ value }}
            <span class="badge-pill badge badge-default">{{ count }}</span>
        </label>
    </div>
{% endmacro %}

{% macro filter_field(field, stats, searchFilter) %}
    {% import _self as macros %}
    {% set filter = searchFilter[field.name]|default([]) %}
    {% set show = true %} {# Currently, all filters are shown and expanded when the page is loaded #}
    <div class="card mb-1 filter-card {{ show ? 'expanded' : '' }}" id="filter-{{ field.name }}">
        <div class="card-block filter-title">
            <h6 class="card-title">
                {{ field.title }}
                <i class="fa fa-fw fa-caret-up"></i>
                <i class="fa fa-fw fa-caret-down"></i>
            </h6>
        </div>
        <div class="card-block filter-content">
            {% if field.description is not empty %}
                <p class="card-text small">{{ field.description }}</p>
            {% endif %}
            {% if field.type == 'string' %}
                <div class="filters">
                    {% set buckets = stats['vals_' ~ field.name]['buckets'] %}
                    {% set showMoreAfter = 5 %}
                    {% set valuesUsed = [] %}
                    {% for bucket in buckets %}
                        {% set valuesUsed = valuesUsed|merge([bucket.key]) %}
                        {{ macros.filter_checkbox(field, bucket.key, bucket.key in filter['v']|default([]), bucket.doc_count, loop.index0 >= showMoreAfter) }}
                    {% endfor %}
                    {% for value in filter['v']|default([]) if value != '' and value not in valuesUsed %}
                        {{ macros.filter_checkbox(field, value, true, 0, false) }}
                    {% endfor %}
                    {% if buckets|length > showMoreAfter %}
                        <span class="show-more text-info text-center">more</span>
                    {% endif %}
                </div>
            {% elseif field.type == 'boolean' %}
                <label class="form-check-label">
                    <input class="form-check-input" type="radio"
                           name="f[{{ field.name }}][v]" value=""
                           {% if filter['v']|default('') == '' %}checked{% endif %}
                    /> All
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio"
                           name="f[{{ field.name }}][v]" value="1"
                           {% if filter['v']|default('') == '1' %}checked{% endif %}
                    /> Yes
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio"
                           name="f[{{ field.name }}][v]" value="0"
                           {% if filter['v']|default('') == '0' %}checked{% endif %}
                    /> No
                </label>
            {% elseif field.type == 'integer' %}
                <div class="row no-gutters mb-3">
                    <div class="col">
                        <input type="number" name="f[{{ field.name }}][v][min]" id="filter-{{ field.name }}-min"
                               placeholder="min (inc.)" class="form-control form-control-sm"
                               value="{{ filter['v']|default({min: ''})['min'] }}"
                               title="min (inc.)"
                        />
                    </div>
                    <div class="col">
                        <input type="number" name="f[{{ field.name }}][v][max]" id="filter-{{ field.name }}-max"
                               placeholder="max (inc.)" class="form-control form-control-sm"
                               value="{{ filter['v']|default({max: ''})['max'] }}"
                               title="max (inc.)"
                        />
                    </div>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-secondary pull-right btn-sm" role="button">Apply</button>
        </div>
    </div>
{% endmacro %}
{% import _self as macros %}
{{ macros.filter_field(fields['publisher'], stats, searchFilter) }}
{{ macros.filter_field(fields['setting'], stats, searchFilter) }}
{{ macros.filter_field(fields['edition'], stats, searchFilter) }}

{{ macros.filter_field(fields['environments'], stats, searchFilter) }}
{{ macros.filter_field(fields['items'], stats, searchFilter) }}
{{ macros.filter_field(fields['monsters'], stats, searchFilter) }}
{{ macros.filter_field(fields['npcs'], stats, searchFilter) }}

{{ macros.filter_field(fields['numPages'], stats, searchFilter) }}
{{ macros.filter_field(fields['minStartingLevel'], stats, searchFilter) }}
{{ macros.filter_field(fields['maxStartingLevel'], stats, searchFilter) }}
{{ macros.filter_field(fields['startingLevelRange'], stats, searchFilter) }}

{{ macros.filter_field(fields['soloable'], stats, searchFilter) }}
{{ macros.filter_field(fields['pregeneratedCharacters'], stats, searchFilter) }}
{{ macros.filter_field(fields['handouts'], stats, searchFilter) }}
{{ macros.filter_field(fields['tacticalMaps'], stats, searchFilter) }}

{{ macros.filter_field(fields['foundIn'], stats, searchFilter) }}
{#{ macros.filter_field(fields['partOf'], stats, searchFilter) }#}
