{% for fieldName, filter in searchFilter %}
    {% set values = filter['v']|default([]) %}
    {% if values is not iterable %}
        {% set values = [values] %}
    {% endif %}
    {% if values|length > 0 %}
        {% set field = fields[fieldName] %}
        {% for key, value in values if value != '' %}
            <span class="badge badge-primary filter-tag">
                {{ field.title }}:
                {% if field.type == 'boolean' %}
                    {{ value|bool2str }}
                {% elseif field.type == 'integer' %}
                    {{ key == 'min' ? '≥' : '≤'}}{{ value }}
                {% else %}
                    {{ value }}
                {% endif %}
                <span role="button" aria-label="Remove" data-field-name="{{ field.name }}" data-field-type="{{ field.type }}" data-value="{{ value }}" data-key="{{ key }}" class="filter-remove">&times;</span>
            </span>
        {% endfor %}
    {% endif %}
{% endfor %}
