<h2 >{{ totalNumberOfResults }} {{ totalNumberOfResults == 1 ? 'adventure' : 'adventures' }} found</h2>
<div id="search-results">
    {% for adventure in adventures %}
        <div class="card mb-3">
            <div class="card-block">
                {% if adventure.thumbnailUrl %}
                    <img alt="Cover of {{ adventure.title }}" data-original="{{ adventure.thumbnailUrl }}" class="ml-sm-1 float-sm-right" style="max-width: 120px; max-height: 140px;" />
                {% endif %}
                <h4 class="card-title">
                    <a href="{{ path('adventure_show', { 'slug': adventure.slug }) }}">
                        {{ adventure.title }}
                    </a>
                </h4>
                <!--h6 class="card-subtitle mb-2 text-muted">Search score: {{ adventure.score }}</h6-->
                <p>{{ adventure.description|easyadmin_truncate(250) }}</p>
                <div class="clearfix"></div>
                <hr>
                <!-- Quick look info -->
                <div class="container-fluid row justify-content-center">
                    <div class="col-6 col-sm text-center">
                        <i class="fa fa-gear"></i>
                        <p class="text-muted mb-2">Edition</p>
                        <h6>{{adventure.edition}}</h6>
                    </div>
                    <div class="col-6 col-sm text-center">
                        <i class="fa fa-globe"></i>
                        <p class="text-muted mb-2">Setting</p>
                        <h6>{{adventure.setting}}</h6>
                    </div>
                    <div class="col-6 col-sm text-center">
                        <i class="fa fa-flag"></i>
                        <p class="text-muted mb-2">Starting Level</p>
                        <h6>
                            {% if adventure.minStartingLevel is not null and adventure.maxStartingLevel is not null %}
                                {% if adventure.minStartingLevel == adventure.maxStartingLevel %}
                                    {{ adventure.minStartingLevel }}
                                {% else %}
                                    {{adventure.minStartingLevel}}-{{adventure.maxStartingLevel}}
                                {% endif %}
                            {% else %}
                                {{ adventure.startingLevelRange }}
                            {% endif %}
                        </h6>
                    </div>
                    <div class="col-6 col-sm text-center">
                        <i class="fa fa-tree"></i>
                        <p class="text-muted mb-2">Environment</p>
                        <h6>{{adventure.environments|join(', ')}}</h6>
                    </div>
                    <div class="d-none d-sm-block col-sm text-center">
                        <i class="fa fa-book"></i>
                        <p class="text-muted mb-2">Length</p>
                        <h6>{{ adventure.numPages }} pages</h6>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if totalNumberOfResults == 0 %}
        <div class="alert alert-danger">We're sorry. Apparently there is no adventure matching your search. :(</div>
        {% elseif adventures|length == 0 %}
        <div class="alert alert-info">No more results match your search criteria.</div>
        {% endif %}
    {% endfor %}
</div>

<div class="d-flex justify-content-center">
    <button type="submit" role="button" class="btn btn-secondary" id="load-more-btn" {% if adventures|length == 0 %}disabled{% endif %}>
        <i class="fa fa-spinner fa-spin d-none"></i>
        Load more results
    </button>
</div>
