{% for fieldName, filter in searchFilter %}
    {% set values = filter['v']|default([]) %}
    {% if values is not empty %}
        {% set field = fields[fieldName] %}
        {% if field.type == 'string' %}
            {% for value in values %}
                <span class="badge badge-primary filter-tag">
                    {{ field.title }}: {{ value }}
                    <span role="button" aria-label="Remove" data-field-name="{{ field.name }}" data-field-type="{{ field.type }}" data-value="{{ value }}" class="filter-remove">&times;</span>
                </span>
            {% endfor %}
        {% elseif field.type == 'boolean' %}
            <span class="badge badge-primary filter-tag">
                {{ field.title }}: {{ values|bool2str }}
                <span role="button" aria-label="Remove" data-field-name="{{ field.name }}" data-field-type="{{ field.type }}" data-value="{{ values }}" class="filter-remove">&times;</span>
            </span>
        {% endif %}
    {% endif %}
{% endfor %}
