{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">{{ adventure.title }}</h1>
                {% if adventure.info is empty %}
                    <div class="alert alert-info">This adventure is currently pretty much without information. Click the 'Add info' button below multiple times to start supplying the first bits and pieces.</div>
                {% endif %}

                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                        {% for field in adventure.info %}
                            <tr {% if not field.meta.approved %}class="table-warning"{% endif %}>
                                <th>{{ field.meta.title }}</th>
                                <td>
                                    <ul>
                                        {% for content in field.contents %}
                                            <li>
                                                {{ content.content|nl2br }}
                                                {% if not content.approved %}<span class="badge badge-warning">needs approval</span>{% endif %}
                                                {% if is_granted('ROLE_USER') %}
                                                    <a class="btn btn-sm btn-secondary" href="{{ path('adventure_info_new', {id: adventure.id, fieldId: content.tag.id}) }}">add</a>
                                                {% endif %}
                                                {% if is_granted('ROLE_CURATOR') %}
                                                    <a class="btn btn-sm btn-secondary" href="{{ path('adventure_info_edit', {id: content.id}) }}">edit</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Add information</th>
                            <td>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <form method="get" action="{{ path('adventure_info_new', {id: adventure.id}) }}" class="form-inline">
                                        <select name="fieldId" id="add-info" class="form-control form-control-sm">
                                            {% for field in fieldNames %}
                                                <option value="{{ field.id }}">{{ field.title }}</option>
                                            {% endfor %}
                                        </select>

                                        <button type="submit" role="button" class="btn btn-info btn-sm">
                                            Add
                                        </button>
                                    </form>

                                {% else %}
                                    You need to <a href="{{ path('login') }}">log in</a> to add and edit information.
                                {% endif %}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="bg-faded p-3">
                    <h3 class="mt-3">Other actions</h3>
                    <ul>
                        <li>
                            <a href="{{ path('adventure_index') }}">Back to the list</a>
                        </li>
                        {% if is_granted('ROLE_CURATOR') %}
                            <li>
                                <a href="{{ path('adventure_edit', { 'id': adventure.id }) }}">Edit</a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#add-info')
                .select2()
                .on('select2:select', function(){
                    $(this).focus();
                });
        })
    </script>
{% endblock %}