{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adventure</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adventure.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ adventure.title }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ adventure.edition }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ adventure.year }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ adventure.publisher }}</td>
            </tr>
            <tr>
                <th>Numpages</th>
                <td>{{ adventure.numPages }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ adventure.format }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ adventure.author }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adventure_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adventure_edit', { 'id': adventure.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
