{% extends 'base.html.twig' %}

{% macro print_field(field, adventure) %}
    <strong {% if not field.meta.approved %}class="bg-warning"{% endif %}>{{ field.meta.title }}:</strong>
    <ul>
        {% for content in field.contents %}
            <li>
                {% if field.meta.type not in ['text'] %}
                    {% if field.meta.type == 'url' %}
                        {% set path = content.content %}
                    {% else %}
                        {% set path = path('adventure_index', {f: {(field.meta.id): {o: 'eq', c: content.content}}}) ~ '#search-results' %}
                    {% endif %}
                    <a href="{{ path }}">
                {% endif %}
                {{ content.content|nl2br }}
                {% if field.meta.type not in ['text', 'url'] %}
                    </a>
                {% endif %}
                {% if not content.approved %}<span class="badge badge-warning">needs approval</span>{% endif %}
                {% if is_granted('ROLE_CURATOR') %}
                    <a href="{{ path('adventure_info_edit', {id: content.id}) }}">
                        <i class="fa fa-edit" title="edit"></i>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('adventure_info_new', {id: adventure.id, fieldId: field.meta.id}) }}">
                    <i class="fa fa-plus" title="add"></i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endmacro %}
{% block body %}
    {% import _self as macros %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">{{ adventure.title }}</h1>
                {% if adventure.info is empty %}
                    <div class="alert alert-info">This adventure is currently pretty much without information. Click the 'Add' button below to start supplying the first bits and pieces.</div>
                {% endif %}

                <ul class="adventure-show--details list-unstyled">
                    {% for field in adventure.info if field.meta.type != 'text' %}
                        <li>{{ macros.print_field(field, adventure) }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-unstyled">
                    {% for field in adventure.info if field.meta.type == 'text' %}
                        <li>{{ macros.print_field(field, adventure) }}</li>
                    {% endfor %}
                </ul>

                <div class="bg-faded p-3">
                    <h3 class="mt-3">Other actions</h3>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <form method="get" action="{{ path('adventure_info_new', {id: adventure.id}) }}" class="form-inline">
                            <label for="add-info" class="mr-1">Add information:</label>
                            <select name="fieldId" id="add-info" class="form-control form-control-sm">
                                {% for field in fieldNames %}
                                    <option value="{{ field.id }}">{{ field.title }}</option>
                                {% endfor %}
                            </select>

                            <button type="submit" role="button" class="btn btn-info btn-sm">
                                Add
                            </button>
                        </form>
                    {% else %}
                        <p>You need to <a href="{{ path('login') }}">log in</a> to add and edit information.</p>
                    {% endif %}
                    {% if is_granted('ROLE_CURATOR') %}
                        <a class="btn btn-secondary btn-sm my-3" href="{{ path('adventure_edit', { 'id': adventure.id }) }}">Edit adventure title</a>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-sm btn-danger mt-3" type="submit" value="Delete" role="button" onclick="return confirm('Do you really want to delete this adventure?')">
                        {{ form_end(delete_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#add-info')
                .select2()
                .on('select2:select', function(){
                    $(this).focus();
                });
        })
    </script>
{% endblock %}