{% macro search_icon(fieldName, content) %}
    {% spaceless %}
        {% set path = path('adventure_index', {('f[' ~ fieldName ~ '][v]'): content}) %}
        <a href="{{ path }}" title="Search for similar adventures"><i class="fa fa-search"></i></a>
    {% endspaceless %}
{% endmacro %}

{% macro search(fieldName, value, content) %}
    {% spaceless %}
        {% set path = path('adventure_index', {('f[' ~ fieldName ~ '][v]'): value}) %}
        <a href="{{ path }}" title="Search for similar adventures">{{ content ?: value }}</a>
    {% endspaceless %}
{% endmacro %}

{% import _self as macros %}
<div id="adventure-details">
    <div class="thumbnail-container">
        {% if adventure.thumbnailUrl %}
            <img alt="Cover of {{ adventure.title }}" data-original="{{ adventure.thumbnailUrl }}" class="thumbnail"/>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="dropdown" id="adventure_list-bookmark-menu">
                <button class="btn btn-secondary dropdown-toggle" id="adventure_list-bookmark-menu-btn" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bookmark"></i> Bookmark
                </button>

                <div class="dropdown-menu" aria-labelledby="adventure_list-bookmark-menu-btn">
                    <h6 class="dropdown-header">Your Lists</h6>
                    {% for list in lists %}
                        <button class="dropdown-item" type="button"
                                data-adventure-list-id="{{ list.id }}"
                                data-toggle-url="{{ path('adventure_lists_toggle_contains_adventure', {
                                    list_id: list.id, adventure_id: adventure.id
                                }) }}">
                            {% if list.containsAdventure(adventure) %}
                                <i class="fa fa-fw fa-check"></i>
                            {% else %}
                                <i class="fa fa-fw"></i>
                            {% endif %}
                            {{ list.name }}
                        </button>
                    {% else %}
                        <button class="dropdown-item disabled" type="button">Please create a list first, using the link below</button>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('adventure_lists_index') }}">
                        <i class="fa fa-fw fa-cog"></i>
                        Manage lists
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="title">{{ adventure.title }}</div>
    <div class="tags-container">
        <div class="tag tag-edition">{{ adventure.edition.name }}</div>
        <div class="tag tag-level">
            {% if adventure.minStartingLevel is not null and adventure.maxStartingLevel is not null %}
                {% if adventure.minStartingLevel == adventure.maxStartingLevel %}
                    Level {{ adventure.minStartingLevel }}
                {% else %}
                    Levels {{ adventure.minStartingLevel }}-{{ adventure.maxStartingLevel }}
                {% endif %}
            {% else %}
                {{ adventure.startingLevelRange }} Level
            {% endif %}
        </div>
        <div class="tag tag-length">{{ adventure.numPages }} pages</div>
    </div>
    <p class="description">{{ adventure.description|nl2br }}</p>

    <div class="detail-container">
        <div class="detail-row">
            <div class="col">
                <div class="label">Written By</div>
                {% for author in adventure.authors %}
                    {{ macros.search('authors', author.name, author.name) }}{{ not loop.last ? ', ' : '' }}
                {% endfor %}
            </div>
            <div class="col-3">
                <div class="label">Published By</div>
                {% if adventure.publisher %}
                    {{ macros.search('publisher', adventure.publisher.name) }}
                {% else %}
                    Unknown
                {% endif %}
            </div>
            <div class="col-3">
                <div class="label">Setting</div>
                {% if adventure.setting %}
                    {{ macros.search('setting', adventure.setting.name) }}
                {% else %}
                    Unknown
                {% endif %}
            </div>
        </div>

        <div class="detail-row">
            <div class="col">
                <div class="label">Environments</div>
                {% for environment in adventure.environments %}
                    {{ macros.search('environments', environment.name) }}{{ not loop.last ? ', ' : '' }}
                {% endfor %}
            </div>
            <div class="col-7">
                <div class="label">Link</div>
                <a href="{{ adventure.link|add_affiliate_code|e('html_attr') }}">{{ adventure.link|add_affiliate_code }}</a>
            </div>
        </div>

        <div class="detail-row">
            <div class="col-3">
                <div class="label">Handouts?</div>
                {{ macros.search('handouts', adventure.handouts, adventure.handouts|bool2str) }}
            </div>
            <div class="col-3">
                <div class="label">Battle Mats?</div>
                {{ macros.search('tacticalMaps', adventure.tacticalMaps, adventure.tacticalMaps|bool2str) }}
            </div>
            <div class="col-3">
                <div class="label">Soloable?</div>
                {{ macros.search('soloable', adventure.soloable, adventure.soloable|bool2str) }}
            </div>
            <div class="col-3">
                <div class="label">Includes Characters?</div>
                {{ macros.search('pregeneratedCharacters', adventure.pregeneratedCharacters, adventure.pregeneratedCharacters|bool2str) }}
            </div>
        </div>

        <div class="detail-row">
            <div>
                <div class="label">Found In</div>
                {{ macros.search('foundIn', adventure.foundIn) }}
            </div>
            <div>
                <div class="label">Part Of</div>
                {{ macros.search('partOf', adventure.partOf) }}
            </div>
        </div>

        <div class="detail-row">
            <div class="col-4">
                <div class="label">Boss Monsters and Villains</div>
                <ul>
                    {% for monster in adventure.bossMonsters %}
                        <li>
                            {{ macros.search('bossMonsters', monster.name) }}
                            {% for type in monster.types %}
                                <span class="badge badge-info">{{ type.name }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4">
                <div class="label">Common Monsters</div>
                <ul>
                    {% for monster in adventure.commonMonsters %}
                        <li>
                            {{ macros.search('commonMonsters', monster.name) }}
                            {% for type in monster.types %}
                                <span class="badge badge-info">{{ type.name }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4">
                <div class="label">Notable Items</div>
                <ul>
                    {% for item in adventure.items %}
                        <li>{{ macros.search('items', item.name) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="m-3" id="change-requests">
        {{ render(controller('AppBundle:ChangeRequest:show', {adventure: adventure})) }}
    </div>
</div>
