{% extends "base_with_collapsed_sidebar.html.twig" %}

{% block content %}
    <div class="adl-card">
        <div class="adl-card-body">
            <h1 class="adl-card-title">{{ audit_assoc(log.source) }}
                <small>audit diff</small>
            </h1>
            {% if log.action == 'insert' %}
                <table class="table table-striped">
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    {% for field, change in log.diff %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ audit_value(change.new) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table class="table table-striped">
                    <tr>
                        <th>Field</th>
                        <th>Old</th>
                        <th>New</th>
                    </tr>
                    {% for field, change in log.diff %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ audit_value(change.old) }}</td>
                            <td>{{ audit_value(change.new) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
