<tr>
  <td class="col-min">
    <span class="badge badge-warning"><i class="fa fa-fw fa-random"></i></span>
  </td>
  <td>
    <strong>{{ log.source.typLabel }}</strong> {{ audit_assoc(log.source) }} was dissociated from
    <strong>{{ log.target.typLabel }}</strong> {{ audit_assoc(log.target) }},
    {{ audit_blame(log.blame) }}
  </td>
  <td class="col-min">{{ log.loggedAt|time_diff }}</td>
  <td class="col-min"></td>
</tr>
