{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Create account</h1>

                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button class="btn btn-primary" type="submit">Register!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
